<!-- Top navigation -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">
        <img class="brand-logo" src="../../../assets/images/vector.png" alt="Vector Logo">
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" routerLink="" routerLinkActive="active" (click)="authService.SignOut()">Sign out</a>
        </li>
    </ul>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-custom sidebar collapse">
            <div class="sidebar-sticky pt-3 sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <button class="btn-outline btn-lg" routerLink="/dashboard" routerLinkActive="active">
                            <span><i class="uil uil-user-circle"></i></span> User Profile
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn-outline btn-lg" routerLink="/register-student" routerLinkActive="active">
                            <span><i class="uil uil-user-plus"></i></span> Add Student
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn-outline btn-lg" routerLink="/view-students" routerLinkActive="active">
                            <span><i class="uil uil-users-alt"></i></span> Students List
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>