<body class="img js-fullheight" style="background-image: url(../../../assets/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Login</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Thank You for Registering</h3>
                        <div action="#" class="signin-form" *ngIf="authService.userData as user">
                            <div class="form-group">
                                <p class="text-center">We have sent a confirmation email to
                                    <strong>{{user.email}}</strong>.</p>
                                <p class="text-center">Please check your email and click on the link to verfiy your
                                    email address.</p>
                            </div>

                            <!-- panggil signIn dari AuthService -->
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3" value="Log in"
                                (click)="authService.SendVerificationMail()">Resend Verification Email</button>
                            </div>
                            <p>Go back to ?  <a data-toggle="tab" routerLink="/sign-in">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>