<body>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Students List</h2>
        <a routerLink="/register-student" class="btn btn-custom" *ngIf="hideWhenNoStudent">
            Add Student
        </a>
    </div>
    <div class="pricing-header mx-auto">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" *ngIf="preLoader">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="no-data text-center" *ngIf="noData">
                <img src="assets/no-student.svg" class="nodata-msg" alt="No student" />
                <p class="nodata-msg">No student added yet!</p>
                <a routerLink="/register-student" class="btn btn-success"> Add Student </a>
            </div>
        </div>
        <div class="table-responsive" *ngIf="hideWhenNoStudent">
            <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
                <thead>
                    <tr>
                        <th scope="col">Student Id</th>
                        <th scope="col">Student name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile number</th>
                        <th class="text-center" scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of Student | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                        <th scope="row">{{ student.$key }}</th>
                        <td>{{ student.firstName }} {{ student.lastName }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.mobileNumber }}</td>
                        <td class="text-center action-block">
                            <span class="mr-2 btn btn-outline-primary btn-sm" title="Edit" aria-label="Edit"
                                routerLink="/edit-student/{{ student.$key }}"><i class="uil uil-edit"></i></span>
                            <span class="btn btn-outline-danger btn-sm" title="Delete" aria-label="Delete"
                                (click)="deleteStudent(student)"><i class="uil uil-trash-alt"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex" *ngIf="hideWhenNoStudent">
            <strong>Student List <span>({{Student.length}} data)</span></strong>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</body>