/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

img {
    vertical-align: middle;
    border-style: none;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-control:focus {
    border-color: #00BCD4;
    box-shadow: none;
}

.form-control {
    font-size: 14px;
}

.gap-right {
    margin-right: 10px;
}

i {
    width: 22px;
    text-align: center;
    margin-right: 5px;
}

.inner-adjust {
    padding: 0 20px;
}

.action-block {
    cursor: pointer;
}

.action-block .fa-edit:hover {
    color: #009688;
}

.action-block .fa-trash-alt:hover {
    color: #E91E63;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

/* Pagination */
body pagination-template {
    padding: 0;
    margin: 8px 0 0;
    float: left;
    width: 100%;
    text-align: right;
}

body .ngx-pagination li:last-child {
    margin: 0;
}

body .ngx-pagination .current {
    background: #055AF9;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
    text-decoration: none;
}

/* Error */
.error {
    color: red;
    margin-top: 5px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn-success.disabled,
.btn-success:disabled {
    cursor: not-allowed;
}

#toast-container>div {
    opacity: 1;
}

/* Nav */
body .navbar {
    padding: 6px 0 !important;
}

body .navbar-brand {
    background: none;
}

.brand-logo {
    max-width: 85%;
}

.pt-3,
.py-3 {
    padding-top: 2.4rem !important;
}

.sidebar-sticky {
    padding-top: 2.9rem !important;
}

/* Form */
label {
    font-weight: 500;
}

.form-control {
    padding: 1.375rem .75rem;
}

/* Misc */
.no-data img {
    max-width: 420px;
    margin: 20px auto 0;
}

.nodata-msg {
    margin: 25px 0 15px;
    font-size: 28px;
    color: #a9a6c5;
    font-weight: 300;
    letter-spacing: .2px;
}

[role="main"] {
    padding-top: 65px;
}

.preloader {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.custom-text {
    font-size: 15px;
    color: #5f5f5f;
    letter-spacing: .2px;
}

.navbar-dark .navbar-brand {
    margin-left: 6px;
}

.custom-text strong {
    color: #3a3a3a;
}

.mb-3,
.my-3 {
    margin-bottom: 1.4rem !important;
}

.custom-fa-plus {
    margin: 0;
    width: auto;
}

.user-image {
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}

body .table thead th {
    background: #f3f5ff;
}

.pricing-header {
    padding-bottom: 50px;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    border-top: 1px solid #dee2e6 !important;
    padding-top: 25px;
    margin-top: 50px;
}

/* Responsive */
@media(max-width:767px) {
    .sidebar {
        position: static;
        padding: 40px 0 10px;
        height: auto;
    }

    .sidebar-sticky {
        height: auto;
    }

    [role="main"] {
        padding-top: 0;
    }

    .inner-adjust {
        padding: 0;
    }

    ul.nav.flex-column {
        flex-direction: inherit !important;
    }

    .pt-3,
    .py-3 {
        padding-top: 1.5rem !important;
    }

    .brand-logo {
        max-width: 175px;
        margin: 0 auto;
        display: block;
    }

    .dasboard-text {
        display: none !important;
    }

    .sidebar-sticky .nav li {
        width: 50%;
        text-align: center;
        border-right: 1px solid #c7ceff;
    }

    .sidebar-sticky .nav li:last-child {
        border: none;
    }

    .no-data img {
        max-width: 100%;
        margin-top: 0;
    }

    .nodata-msg,
    .h2,
    h2 {
        font-size: 1.4rem;
    }

    .custom-text {
        font-size: 14px;
    }

    .sidebar {
        padding: 40px 0 15px;
    }

    footer br {
        display: none;
    }
}